header {
    height: 500px;
    .swiper-wrapper {
        height: 500px;
        .swiper-slide {
            height: 400px;
            img {
                // width: 400px;
            }
        }
    }
}